<div id="apps" class="container">
    <div class="card">
        <%= image_tag "app_images/game-shelf.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Game Shelf</h5>
            <p class="card-text">This app allows you to quickly add games to your virtual game shelf by pulling data from board game geek.</p>
            <a href="http://game-shelf.nicholaskillin.com/" class="btn btn-primary" target="blank">Live Demo</a>
            <%= link_to image_tag("github.png", size: "30x30"), "https://github.com/nicholaskillin/game-shelf", target: "_blank" %>
            <p id="last-updated">Last11/10/2019</p>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/pco-embed-checker.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">PCO Embed Checker</h5>
            <p class="card-text">This app is for the staff at Planning Center. It allows them to quickly test components designed to be embedded in other websites.</p>
            <a href="https://pco-embed-checker.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
            <%= link_to image_tag("github.png", size: "30x30"), "https://github.com/nicholaskillin/pco-embed-checker", target: "_blank" %>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/sample-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Rails Tutorial Sample App</h5>
            <p class="card-text">This is an app that I created by following Michael Hartl's "Ruby on Rails Tutorial" that can be found at <a href="https://www.railstutorial.org/">railstutorial.org</a>.</p>
            <a href="https://calm-headland-17911.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
            <%= link_to image_tag("github.png", size: "30x30"), "https://github.com/nicholaskillin/Sample-App", target: "_blank" %>
        </div>
    </div>
    <div class="card">
        <%= image_tag "app_images/scythe-app.png", :class => "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Scythe App</h5>
            <p class="card-text">This app helps calculate your score in the game Scythe. Scythe uses a fairly complex set of rules to determine your final score and this app takes all of those rules into account for you.</p>
            <a href="https://evening-river-73195.herokuapp.com/" class="btn btn-primary" target="blank">Live Demo</a>
            <%= link_to image_tag("github.png", size: "30x30"), "https://github.com/nicholaskillin/scythe-app", target: "_blank" %>
        </div>
    </div>
</div>